<!-- ADMIN 
updated 11/07/2019-->
<link rel="stylesheet" href="css/admin.css" />
<script type="text/javascript" src="js/admin.js"></script>
<script type="text/javascript" src="js/admin_ajax.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div>
    <form onsubmit="return verify_fields()" method="POST" action="admin">
        <div class="row justify-content-center">
            <div>
                <input type="email" class="form-control" name="email_user" id="adm-email" <?php
                if(isset($oMain->result['code_error'])){
                    if($oMain->result['code_error'] == 'a'|| $oMain->result['code_error'] == 'c'){
                    echo 'style="border: 2px solid red"';
                    }
                }
                ?> placeholder="Email utilisateur">
                <input type="password" class="form-control" name="password_user" id="adm-password" <?php
                if(isset($oMain->result['code_error'])){
                    if($oMain->result['code_error'] == 'b'|| $oMain->result['code_error'] == 'c'){
                    echo 'style="border: 2px solid red"';
                    }
                }
                ?> placeholder="Mot de passe">
                <P class="adm-para-pink error-info">
                    <?php 
                    if(isset($oMain->result['message_error']))
                    {
                        echo $oMain->result['message_error'];
                    }
                ?>
                </P>
                <div class="g-recaptcha" data-sitekey="6LdgfKcUAAAAAK_x-rxsQeomyRqbxZ6iywNYzN9I" data-type="image">
                </div>
                <input type="submit" class="btn-pink btn-big" name='submitpost' value="CONNEXION" />
                <p id="adm-forgot-password" data-toggle="modal" data-target="#usr-delete-modal"><a>Mot de passe
                        oublié?</a></p>
            </div>
        </div>
    </form>
</div>
<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="usr-delete-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="adm-h2">Réinitialiser votre mot de passe</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="eraseAll()">
                    <span aria-style="display:none"="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <input type="text" class="form-control" id="adm_mail_forgot" name="email_user_forgot"
                        placeholder="Entrez votre email">
                    <div>
                        <p class="modal-info"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" name="submit_mail" onclick="controlMailForgot();">Envoyer un code de
                    réinitialisation</button>
            </div>
        </div>
    </div>
</div>
<div id="adm-info-pop" style="display: none">
    <p>Un email pour réinitialiser votre mot de passe viens de vous être envoyé!</p>
</div>