<!--ADMINISTER
    MAJ le 11/07/2019 -->
<link rel="stylesheet" href="css/administer.css" />
<script type="text/javascript" src="js/administer_ajax.js"> </script>
<script type="text/javascript"src="js/administer.js"></script>
<div id="usr-div-button" hidden>
    <div id="buttonAdmin">
        <a href="#" onClick=codeUserSwitch()>
        <i id="imgLienCode" class='iconBonhom fas fa-user-cog nav-icon'></i>
        <i id="imgLienUser" class='iconBonhom classHidden fa fa-qrcode'></i>  
        <p id="blockLienUser" class="classHidden"> <a onClick=codeUserSwitch() href="#">Envoyer un code</a></p>
        <p id="blockLienCode" ><a onClick=codeUserSwitch() href="#">Gestion des Admins</a><p>
        </a> 
    </div>	
</div>
<div class="container white-box" id="blockCode">
    <form method="POST" action="administer" onsubmit="return controlMailTo();">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2 class="usr-h2">Envoyer un code</h2>
                </br>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group ">
                <input type="text" class="form-control" id="mail_to" name="mail_to" placeholder="Entrez l'email du collaborateur">
                <button type="button" class="btn-green btn-big" onclick=eraseMailTo() >Effacer</button>
                <button type="submit" class="btn-blue btn-big" name="submit_mail">Envoyer</button>
                <label for="current_time" hidden>Time Stamp(s): </label><input type="text" id="current_time" name="current_time" hidden>
                <div>
                    <p class="error-info"></p>
                </div>
            </div>
        </div>
    </form>
</div>
<!--
changement de page
-->
<div id="blockUser"  class="classHidden">
    <form class="form-group">
        <div class="container white-box">
            <div class="row">
                <div id="add-admin-btn" onclick='createNewAdmin();scrollToAddEditBox()'>
                    <p><a href="#"><i class='fas'>&#xf055;</i> Ajout d'un Administrateur </a></p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <h2 class="usr-h2">Liste des Administrateurs</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <table id="usr-table">
                    <tr>
                        <th hidden>id user</th>
                        <th>Droits</th>
                        <th>Utilisateur</th>
                        <th>Email</th>
                        <th>Modifier</th>
                        <th>Activer</th>
                        <th>Supprimer</th>
                    </tr>
                    <?php
                        $index = 0;
                        foreach ($oMain->result["admin_list"] as $ligne)	
                        {   
                            $isLimitedAdmin = $ligne['right_type'] == 2;
                            $isSuperAdmin = $ligne['id_user'] == 1;
                            $isActiveUser = $ligne['active_user'];
                            $chekedOrNot = 'checked';
                            if($isActiveUser == 0)
                            {
                                $chekedOrNot = 'uncheked';
                            }                            
                            
                            $sHtml = '';
                            $sHtml = $sHtml . '<tr class="usr-admin-row" id="usr-admin-row_'.$index.'">';
                            $sHtml = $sHtml . '<td id="usr-id-admin_'.$index.'"hidden>'.$ligne['id_user'].'</td>';

                            if($isLimitedAdmin)
                            {
                                $sHtml = $sHtml . '<td style="color:#1F85DE" id="usr-right-admin_'.$index.'">Limité</td>';
                                $sHtml = $sHtml . '<td style="color:#1F85DE" id="usr-name-admin_'.$index.'">'. $ligne['name_user'] .'</td>';
                                $sHtml = $sHtml . '<td style="color:#1F85DE" id="usr-email-admin_'.$index.'">'. $ligne['email_user'] .'</td>'; 
                            }
                            else
                            {
                                $sHtml = $sHtml . '<td style="color:#DE1F85;font-size:25px" id="usr-right-admin_'.$index.'"><i class="fas fa-user-cog icon-nav usr-admn-icon"></i></td>';
                                $sHtml = $sHtml . '<td style="color:#DE1F85" id="usr-name-admin_'.$index.'">'. $ligne['name_user'] .'</td>';
                                $sHtml = $sHtml . '<td style="color:#DE1F85" id="usr-email-admin_'.$index.'">'. $ligne['email_user'] .'</td>'; 
                            }
                            $sHtml = $sHtml . '<td onclick="editAdmin('.$index.')"><i class="fas fa-pencil-alt" style="font-size:25px;color:#DE1F85"></i></td>';
                            if(!$isSuperAdmin)
                            {
                                $sHtml = $sHtml . '<td><div class="custom-control custom-switch"><input onclick="activeAdmin('.$index.')" type="checkbox" class="custom-control-input" id="usr-active-admin_'.$index.'" '.$chekedOrNot.'><label class="custom-control-label" for="usr-active-admin_'.$index.'"></label></div></td>'; 
                                $sHtml = $sHtml . '<td onclick="setModalContent('.$index.')" data-toggle="modal" data-target="#usr-delete-modal"><i class="fas fa-trash-alt" style="font-size:25px;color:#DE1F85"></i></td>';
                            }
                            echo $sHtml;
                            $index++;
                        }
                    ?> 
                </table>
            </div>
        </div>
    </form>
    <form class="form-group" id="usr-save-admin">
        <div class="container white-box" id="usr-addEditBox" style="display:none">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h2 class="usr-h2" id="usr-box-title"></h2>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-md-3">
                    <input type="hidden" name="id_user" id="id_user" size="2">
                    <input type="text" name="name_user" id="name_user" class="usr-field-add" form-control"  placeholder="nom de l'utilisateur">
                </div>
                <div class="col-md-3">
                    <input type="email" name="email_user" id="email_user" class="usr-field-add" form-control"  placeholder="email de l'utilisateur">
                </div>
                <div class="col-md-3">
                    <input type="password" name="password_user" id="password_user" class="usr-field-add" form-control"  placeholder="mot de passe" autocomplete="suggested:new-password">
                </div>
                <div class="col-md-3">
                    <input type="password" id="password_confirm_user" class="usr-field-add" form-control"  placeholder="confirmer mot de passe" autocomplete="suggested:new-password">
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-md-2 usr-admin-switch">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" name="switches-right" id="switches-right"  onclick='toggleColor()' checked>
                        <label class="custom-control-label" id="usr-label-limite" style="color:#1F85DE;font-weight:bold"  for="switches-right">Droits Limités</label>
                    </div>
                </div>
                <div class="col-md-6 usr-admin-switch">
                    <div class='error-info'></div>
                </div>
                <div class="col-md-4 usr-div-btn">
                    <div>
                        <input type="button" class="btn-green usr-btn" id="usr-btn-cancel" value="Annuler" onclick="cancelEditAdmin()">
                        <input type="button" class="btn-pink usr-btn" id="usr-btn-add" name="usr-btn-add" value="Ajouter" onclick="modifyListOfAdmin('add')">
                        <input type="button" class="btn-pink usr-btn" id="usr-btn-edit" name="usr-btn-edit" value="Modifier" onclick="modifyListOfAdmin('edit')">
                    </div>
                </div>
            </div>
        </div>   
    </form>
    <!-- Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="usr-delete-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="usr-h2">Suppression Utilisateur</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-style="display:none"="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-green usr-btn" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn-pink usr-btn" data-dismiss="modal" id="usr-btn-delete" onclick="deleteAdmin()">Confirmer</button>
                </div>
            </div>
        </div>
    </div>
</div>