<!-- CLIENT
updated 11/07/2019-->
<link rel="stylesheet" href="css/client.css" />
<script type="text/javascript" src="js/client_ajax.js"></script>
<script type="text/javascript" src="js/client.js"></script>
<?php 
$sHtml = '';
foreach ($oMain->result['active_survey_title'] as $ligne){

    $sHtml = $sHtml . '<p id="cli-active-survey-title" hidden>'.$ligne['wording_survey'].'</p>';
}
echo $sHtml;
?>
<div>
    <!-- INTRODUCTION + CHOIX ACTIVITEE -->
    <div class="container">
        <!-- choix d'activité -->
        <div class="row justify-content-center">
            <div>
				<!-- <label for="id_user">id user:</label><input type="text" id="id_user"> -->
                <p class="alert-info cli-tooltip">Vous travaillez dans le domaine de :</p>
                <select class="form-control cli-activity" id="cli-job-list">
					<?php 
                        $sHtml = '';
                        foreach ($oMain->result['category_list'] as $ligne){
							if($ligne['id_type'] == $oMain->result['id_type'] ){
								$sHtml .= '<option value="'.$ligne['id_type'].'" selected="selected">'.$ligne['category_type'].'</option>';
							}
							else{
								$sHtml .= '<option value="'.$ligne['id_type'].'">'.$ligne['category_type'].'</option>';
							}
                        }
                        echo $sHtml;
                    ?>
                </select>
            </div>
        </div>
        <div class="row justify-content-center">
            <div>
                <button type="button" class="btn-blue btn-big"  name=btn-valid-activity id="btn-valid-activity" onclick="showSurvey(); upCategory_selAnswers();">COMMENCER A REPONDRE</button>
            </div>
        </div>
	</div>
	<div class="container">
		<div class="row justify-content-center cli-thumbs-up mt-5" style="display: none">
			<div class="col">
				<i class="far fa-thumbs-up"></i>
			</div>
		</div>
		<div class="row justify-content-center cli-message-val mt-5" style="display: none">
			<div class="col">
				<h2>Questionnaire enregistré !</h2>
				<p class="mt-5">Vous avez 24h pour y apporter des modifications en vous reconnectant avec votre code à l'adresse reçue par mail.</p>
				<p>Passé ce délais votre code d'accès sera obsolète.</p>
			</div>
		</div>
		<div class="row justify-content-center cli-message-edit mt-5" style="display: none">
			<div class="col">
				<h2>Questionnaire enregistré !</h2>
			</div>
		</div>
	</div>
    <!--DEBUT  QUESTIONNAIRE -->
    <div class="container accordion" id="survey" hidden>
	<?php 
	$id_theme_old= 0;
	$id_rubric_old= 0;
	$id_question_old= 0;
	$id_suggestion_old= 0;
	$index_comment_old= 0;
	$index_comment = 0;
	$displayed_index_question = 0;
	$firstTheme = true; 
	$firstRubric = true;
	$currentIdTheme = 0;
	$currentIdRubric = 0;
	$currentActiveComment = 0; 
	$oldActiveComment = 0;
	
	
		
	foreach($oMain->result['data_survey'] as $dataSurvey)	{		
		// themes
		if(($id_theme_old != $dataSurvey['id_theme']) && ($dataSurvey['id_theme'] != ""))	{
			$currentIdTheme = $dataSurvey['id_theme']; // save the current id theme to use it outside the foreach loop
			if ($id_theme_old != 0)	{
				if ($id_question_old != 0)	{
						if($oldActiveComment==1){
							displayComment($index_comment_old);
						}
					endOfDiv();
				}
				if ($id_rubric_old != 0)	{
							btnNextTheme($id_theme_old, $id_rubric_old);
							$firstRubric =true;
						endOfDiv();
					endOfDiv();			
				}
				endOfDiv();
				$id_rubric_old= 0;
				$id_question_old= 0;
				$id_suggestion_old= 0;
			}
		displayTheme($dataSurvey['id_theme'],$dataSurvey['wording_theme'],$dataSurvey['description_theme']);
		openThemeCollapse($dataSurvey['id_theme'],$firstTheme);
		$firstTheme = false;
		}
		if ($dataSurvey['id_theme'] != "")	{
			$id_theme_old= $dataSurvey['id_theme'];
		}  else  {
			$id_theme_old= 0;
		}

		// Rubric
		if(($id_rubric_old != $dataSurvey['id_rubric']) && ($dataSurvey['id_rubric'] != ""))	{
			$currentIdRubric = $dataSurvey['id_rubric']; // save the current id theme to use it outside the foreach loop
			if ($id_rubric_old != 0)	{
				if ($id_question_old != 0)	{
						if($oldActiveComment==1){
							displayComment($index_comment_old);
						}
					endOfDiv();
				}
						btnNextRubric($currentIdTheme,$id_rubric_old);
					endOfDiv();
				endOfDiv();
				$id_question_old= 0;
				$id_suggestion_old= 0;
			}
		displayRubric($dataSurvey['id_theme'],$dataSurvey['id_rubric'],$dataSurvey['wording_rubric']);
		openRubricCollapse($dataSurvey['id_theme'],$dataSurvey['id_rubric'],$firstRubric);
		$firstRubric =false;
		}
		if ($dataSurvey['id_rubric'] != "")	{
			$id_rubric_old= $dataSurvey['id_rubric'];
		}  else  {
			$id_rubric_old= 0;
		}

		// Questions
		if(($id_question_old != $dataSurvey['id_question']) && ($dataSurvey['id_question'] != ""))	{
			$displayed_index_question ++; //Create a compteur of question to display
			$index_comment = $dataSurvey['id_question']; //memorize index for comment
			$currentActiveComment = $dataSurvey['active_comment_question']; 
			if ($id_question_old != 0)	{
				if($oldActiveComment==1){
					displayComment($index_comment_old);
				}
				endOfDiv();
				$id_suggestion_old= 0;
			}
			openQuestionContainer($dataSurvey['wording_question'], $displayed_index_question);
		}
		if ($dataSurvey['id_question'] != "")	{
			$oldActiveComment = $dataSurvey['active_comment_question'];
			$index_comment_old = $dataSurvey['id_question'];
			$id_question_old = $dataSurvey['id_question'];
		
		}  else  {
			$id_question_old= 0;
		}
		
		// Suggestion
		if(($id_suggestion_old != $dataSurvey['id_suggestion']) && ($dataSurvey['id_suggestion'] != ""))	{
			displaySuggestion($dataSurvey['id_question'], $dataSurvey['id_suggestion'],$dataSurvey['wording_suggestion'],$dataSurvey['type_mood']);
		}
		
		if ($dataSurvey['id_suggestion'] != "")	{
			$id_suggestion_old= $dataSurvey['id_suggestion'];			
		}  else  {
			$id_suggestion_old= 0;
		}
		
	}

	if ($id_question_old != 0)	{
		if($currentActiveComment == 1){
			displayComment($index_comment_old);
		}
		endOfDiv();
	}
	if ($id_rubric_old != 0)	{
				btnFinish($currentIdTheme, $currentIdRubric);
			endOfDiv();
		endOfDiv();	
	}
	?>
    </div>
    <!-- VALIDATION QUESTIONNAIRE -->
    <div class="container cli-submit-bloc" hidden>
        <div class="row justify-content-center">
            <input type="submit"  class="btn-pink btn-big" value="SOUMETTRE LE QUESTIONNAIRE" onclick="confirmSurvey()">
        </div>
    </div>
</div>

<!-- PHP FUNCTION TO RENDER VUES-->
<?php

function displayTheme($id_Theme,$wording_theme,$description_theme){
	?>
		<!-- Theme Container-->  
        <div class="p-3 mb-2 themes" data-toggle="collapse"  data-target="#div_<?= $id_Theme?>" aria-expanded="true" aria-controls="collapseOne">
            <h2><?=$wording_theme?></h2>
            <p><?=$description_theme?></p>			
		</div>
	<?php
}

function openThemeCollapse($id_theme,$firstTheme){
	?>
        <div id="div_<?= $id_theme?>" class="<?=displayFirst($firstTheme)?>" aria-labelledby="headingOne" data-parent="#survey">
	<?php
}

function displayRubric($id_theme,$id_rubric,$wording_rubric){
	?>
	<!-- Rubric Container -->  
	<div class="accordion">
		<div class="p-3 mb-2 rubrics" data-toggle="collapse"  data-target="#div_<?=$id_theme?>_<?=$id_rubric?>" aria-expanded="true" aria-controls="div_<?=$id_theme?>_<?=$id_rubric?>">
			<h3><?=$wording_rubric?></h3>	 
		</div>
	<?php
}

function openRubricCollapse($id_theme,$id_rubric,$firstRubric){
	?>
		<div id="div_<?=$id_theme?>_<?=$id_rubric?>" class="<?=displayFirst($firstRubric)?>" aria-labelledby="headingOne" data-parent="#div_<?=$id_theme?>">
	<?php
}

function openQuestionContainer($wording_question,$displayed_index_question){
	?>
	<!-- Questtion container -->
	<div class="p-3 mb-2 bg-light text-dark">	
		<p ><?= $displayed_index_question.'-'.$wording_question?></P>             
	<?php
}


function displaySuggestion($id_question, $id_suggestion, $wording_suggestion, $type_mood){
	?>
	<!-- Suggestion container -->
	<div class="form-check form-check-inline">
		<input class="form-check-input" type="radio" name="radioSuggestion_<?= $id_question?>" id="radioSuggestion_<?=$id_question?>" value="<?= $id_suggestion?>">
		<i class="<?=moodType($type_mood)?>" style="font-size:25px;color:<?= 'var(--'.$type_mood.')'?>"></i>
		<!-- <span><?= $wording_suggestion?> <?= $id_suggestion?></span> -->
		<span><?= $wording_suggestion?></span>
	</div>                     
	<?php
}


function displayComment($index_comment){
	?>	
		<div class="form-group">
			<!-- <label for="comment_<?= $index_comment?>">Commentaire: <?= $index_comment?></label> -->
			<label for="comment_<?= $index_comment?>">Commentaire:</label>
			<textarea class="form-control" name="comment_<?= $index_comment?>" id="comment_<?= $index_comment?>" rows="3"></textarea>
		</div>
	<?php
}

function endOfDiv(){
	echo "</div>\n";	
}


function moodType($type_mood){
	switch ($type_mood){
		case 'green':
			echo 'far fa-laugh-wink';
		break;
		case 'yellow':
			echo 'far fa-smile-beam';
		break;
		case 'orange':
			echo 'far fa-frown';
		break;
		case 'red':
			echo 'far fa-angry';
		break;
	}
}

function btnNextTheme($id_theme, $id_rubric){
	error_log('BTN NEXT THEME: '.$id_theme.','.$id_rubric);
	?>
		<div class="row justify-content-start container-button">
			<button class="btn-blue cli-btn" type="button" onClick="scrollToDiv('#survey');saveAnswers(<?=$id_theme.','.$id_rubric?>);collapseTheme('#div_<?= $id_theme ?>')">THEME SUIVANT</button>
		</div>
	<?php	
}

function btnNextRubric($id_theme, $id_rubric){
	error_log('BTN NEXT RUBRIC: '.$id_theme.','.$id_rubric);
	?>
		<div class="row justify-content-start container-button">
			<button class="btn-green cli-btn" type="button"  onClick="scrollToDiv('#div_<?= $id_theme?>');saveAnswers(<?=$id_theme.','.$id_rubric?>);collapseRubric('#div_<?=$id_theme . '_'. $id_rubric ?>')">RUBRIQUE SUIVANTE</button>
		</div>
	<?php
}

function btnFinish($id_theme, $id_rubric){
	error_log('BTN FINISH: '.$id_theme.','.$id_rubric);
	?>
		<div class="row justify-content-start container-button">
			<button class="btn-blue cli-btn" type="button" data-toggle="collapse" data-target="#div_<?= $id_theme?>" onClick="scrollToDiv('#survey');displaySubmit();saveAnswers(<?=$id_theme.','.$id_rubric?>)">TERMINER</button>
		</div>
	<?php
}

function displayFirst($firstThemeOrRubric){
	if($firstThemeOrRubric){
		echo 'collapse show';	
	}
	else{
		echo 'collapse hide';	
	}
}

?>