<div class="ftr-content">
    <div>
        <img src="img/afpalab_logo.gif" style="width: 55px"/>
    </div>    
    <div class="ftr-liens">
        <div class="ftr-lien">Liens utiles</div>
        <div class="ftr-lien">Mentions légales</div>
    </div>    
    <div>
        <i class="fab fa-facebook-f" style="font-size:36px; color: white;margin:10px"></i>
        <i class="fab fa-twitter" style="font-size:36px ; color: white;margin:10px"></i>
        <i class="fab fa-youtube" style="font-size:36px; color: white;margin:10px"></i>
        <i class="fab fa-linkedin-in" style="font-size:36px; color: white;margin:10px"></i>
    </div>
</div>