<!-- HOME 
updated 11/07/2019-->
<link rel="stylesheet" href="css/home.css" />
<script type="text/javascript"src="js/home.js"></script>
<div class="row justify-content-around hom-card-bloc">
    <div class="col-md-3 hom-cards" id="hom-card1">
        <a href="question"> 
            <div class="hom-card-round">
                <i class='far fa-edit' style='font-size:45px;color:#DE1F85'></i>  
            </div>
            <div class="hom-card-text">
                <h2>Gestion des Questions</h2>
                <p>Ici vous pouvez organiser vos questions en ajoutant, modifiant ou supprimant des thèmes, des rubriques et des questions</p>
            </div>
        </a>
    </div>
    <div class="col-md-3 hom-cards"id="hom-card2">
        <a href="statistic">  
            <div class="hom-card-round">
                <i class='fas fa-chart-pie' style='font-size:45px;color:#DE1F85'></i>  
            </div>
            <div class="hom-card-text">
                <h2>Resultats d’enquête</h2>
                <p>Ici vous pouvez consulter les résultats d’enquête. Notamment le nombre de répondants et les résultats par question sous forme de graphique</p>
            </div>
        </a>
    </div>
    
    <div class="col-md-3 hom-cards"id="hom-card3">
        <a href="administer">  
            <div class="hom-card-round">
                <img class="hom-icon-admin" src="img/admin.png">
            </div>
            <div class="hom-card-text">
                <h2> Administrer</h2> 
                <p>Ici vous pouvez envoyer un code vers l’email de vos collaborateurs et administrer les utilisateurs</p>
            </div>
        </a>
    </div>
</div>
