<!-- INDEX -->
<link rel="stylesheet" href="css/index.css" />
<script type="text/javascript"src="js/index.js"></script>
<div>
    <form onsubmit="return controlCode()" method="POST" action="index"  >
    <!-- <form method="POST" action="index"  > -->
        <div class="row justify-content-center">
            <div class="container col-8 ind-title-blue">
                <p>Vous êtes sur l'espace questionnaire</p>
                <h2><?= $oMain->result['active_survey_title'][0]['wording_survey']; ?></h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="container col-12 ind-para-blue">
                <p>Pour accéder au questionnaire vous devez vous connecter avec le mot de passe qui vous a été envoyé par mail.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div id="ind_input_box">  
                <input type="password" name="password_user" class="form-control" id="ind_password_user" placeholder="Entrez le code reçu par mail">
                <?php
                if (isset($oMain->result['bCodeOK']) && $oMain->result['bCodeOK'] === 1 ) {
                    echo '</br>';
                    echo '<p class="ind-para-pink" style="font-weight: bolder;">Code invalide ou expiré !!</p>';
                }
                ?>
                <input type="submit" class="btn-pink btn-big" value="ACCEDER AU QUESTIONNAIRE"/>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="container col-5 ind-para-pink">
                <i class="fas fa-info" style="color:#DE1F85"></i> 
                <p>Il n'est pas obligatoire de répondre à toutes les questions cependant le questionnaire doit être parcouru en entier pour pouvoir être validé. L'enregistrement se fait par rubriques. Ainsi vous pourrez vous reconnecter plus tard avec les données chargées des thèmes déjà validés. Après la validation finale du questionnaire vous aurez 24h pour y apporter des modifications. Passé ce délai l'accès au questionnaire ne sera plus disponible.</p>
            </div>
        </div>
    </form>
</div>