<!-- NAV -->
<div class="row nav-bloc">
    <div class="col-4">
        <img src="img/afpa.jpg" class="nav-logo-postion" >
    </div>
    <div class="col-2 nav-btn" >
        <a href="home"><img src="img/circle_icon_green.png" class="nav-circle"></a> 
        <i class='fas fa-home nav-icons'></i>
    </div>
    <div class="col-2 nav-btn">
        <a href="question"><img src="img/circle_icon_yellow.png" class="nav-circle"></a> 
        <i class='far fa-edit nav-icons'></i>
    </div>
    <div class="col-2 nav-btn">
        <a href="statistic"><img src="img/circle_icon_orange.png" class="nav-circle"></a> 
        <i class='fas fa-chart-pie nav-icons'></i>
    </div>
    <div class="col-2 nav-btn">
        <a href="administer"><img src="img/circle_icon_red.png" class="nav-circle"></a> 
        <img class="nav-png-admin" src="img/admin.png">
    </div>     
</div>
<?php 
if($_SESSION['right_type']==1){
    $color = 'pink';
}
else{
    $color = 'blue';
}
?>
<div class="row nav-sub">
    <div class="col-4 nav-admin-name-<?=$color?>">
        <P> 
            <i class='fas fa-user-alt'></i>
            <?= $_SESSION['name_user']?> 
            <a href="admin"> 
                <i class='fas fa-power-off' ></i>
             </a>
        </P>
    </div>
    <div class="col-2 nav-title">
        <P><a href="home">Accueil</a></P>
    </div>
    <div class="col-2 nav-title">
        <P><a href="question">Questions</a></P>
    </div>
    <div class="col-2 nav-title">
        <P><a href="statistic">Statistiques</a></P>
    </div>
    <div class="col-2 nav-title">
        <P><a href="administer">Administrer</a></P>
    </div>
</div>