<!-- STATISTIC
updated 11/07/2019-->
<link rel="stylesheet" href="css/statistic.css" />
<script type="text/javascript"src="js/statistic.js"></script>
<script type="text/javascript"src="js/jscharts.js"></script>
<!-- INTRODUCTION + CHOIX ACTIVITEE -->
<div class="container">
    <!-- choix du questionnaire -->
    <div class="row justify-content-center">
        <div class="col-sm-11 align-self-center">
            <select class="form-control select-survey" id="activity">
                <option name="survey1"><h2 class="survey-title">Questionnaire Auto-positionnement  2019</h2></option>
                <option name="survey2"><h2 class="survey-title">Questionnaire Auto-positionnement  2020</h2></option>
                <option name="survey3"><h2 class="survey-title">Questionnaire Auto-positionnement  2021</h2></option>
            </select>
        </div>
        <div class="col-sm-1 align-self-center">
            <i class='fas fa-network-wired' style='font-size:30px;color:#1F85DE'></i>
        </div>
    </div>
    <!-- statistique générale -->
    <div class="row justify-content-center">
        <div class="col-sm-6 align-self-cente"><p class="sta-nbr-code">120 questionnaires(s)soumi(s)</p></div>
        <div class="col-sm-6 align-self-cente"><p class="sta-nbr-submit">70 questionnaires(s)validé(s)</p></div>
    </div>
</div>
<!--DEBUT  QUESTIONNAIRE -->
<div class="container accordion" id="survey">
    <!-- Container Theme 1 //  Exigences Emotionnelles // -->  
    <div class="p-3 mb-2 themes" data-toggle="collapse"  data-target="#div_1" aria-expanded="true" aria-controls="collapseOne">
        <h1>Exigences Emotionnelles</h1>
        <p>Il est ici question du contrôle des émotions que vous impose les relations avec les publics.</p>			
    </div>
    <div id="div_1" class="collapse hide" aria-labelledby="headingOne" data-parent="#survey">
        <!-- rubric 1 container -->  
        <div class="accordion">
            <div class="p-3 mb-2 rubrics" data-toggle="collapse"  data-target="#div_1_1" aria-expanded="true" aria-controls="div_1_1">
                <h2>I.Relations aux publics : stagiaires , clients, fournisseurs…	</h2>	 
            </div>
            <div id="div_1_1" class="collapse hide" aria-labelledby="headingOne" data-parent="#div_1">
                <div class="row justify-content-between sta-row">
                    <!-- Q0 -->
                    <div class="sta-card col-5 p-3 mb-3 mt-3 bg-light text-dark">
                        <div class="row">
                            <div class="col">
                                <p >1. Avez-vous à vivre des situations de tension avec les publics liés à des mécontentements , à gérer des altercations verbales, physiques ?</P>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-4">
                                <label class="form-check-label" for="inlineRadioNever"><i class='far fa-laugh-wink' id="inlineRadioNever" style='font-size:25px;color:green'></i>jamais</label>
                                <label class="form-check-label" for="inlineRadioRarely"><i class="far fa-smile-beam" id="inlineRadioRarely"  style="font-size:25px; color:rgb(233, 212, 24)"></i>rarement</label>
                                <label class="form-check-label" for="inlineRadioOften"><i class="far fa-frown" id="inlineRadioOften" style="font-size:25px; color:orange"></i>souvent</label>
                                <label class="form-check-label" for="inlineRadioVeryOften"><i class="far fa-angry" id="inlineRadioVeryOften" style="font-size:25px; color:red"></i>très souvent</label>
                            </div>
                            <div class="col-4">
                                <ul>
                                    <li>12 <i class="fa fa-check-square"></i></li>
                                    <li>92 <i class='fa fa-check-square'></i></li>
                                    <li>10 <i class='fa fa-check-square'></i></li>
                                    <li>2 <i class='fa fa-check-square'></i><li>
                                </ul>
                            </div> 
                            <div class="col">
                                <ul>
                                    <li><?= $jammais = round(12*100/(12+92+10+2),2)."%"?></li>
                                    <li><?= $rarement = round(92*100/(12+92+10+2),2)."%"?></li>
                                    <li><?= $souvent = round(10*100/(12+92+10+2),2)."%"?></li>
                                    <li><?= $tresSouvent = round(2*100/(12+92+10+2),2)."%"?></li>
                                </ul>
                            </div>          
                        </div>
                        <div class="row mt-3 justify-content-center">
                            <div class="col ml-5">
                                <div id="chart-0"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Q1 -->
                    <div class="sta-card col-5 p-3 mb-3 mt-3 bg-light text-dark">
                        <div class="row">
                            <div class="col">
                                <p >1. Avez-vous à vivre des situations de tension avec les publics liés à des mécontentements , à gérer des altercations verbales, physiques ?</P>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-4">
                                <label class="form-check-label" for="inlineRadioNever"><i class='far fa-laugh-wink' id="inlineRadioNever" style='font-size:25px;color:green'></i>jamais</label>
                                <label class="form-check-label" for="inlineRadioRarely"><i class="far fa-smile-beam" id="inlineRadioRarely"  style="font-size:25px; color:rgb(233, 212, 24)"></i>rarement</label>
                                <label class="form-check-label" for="inlineRadioOften"><i class="far fa-frown" id="inlineRadioOften" style="font-size:25px; color:orange"></i>souvent</label>
                                <label class="form-check-label" for="inlineRadioVeryOften"><i class="far fa-angry" id="inlineRadioVeryOften" style="font-size:25px; color:red"></i>très souvent</label>
                            </div>
                            <div class="col-4">
                                <ul>
                                    <li>12 <i class="fa fa-check-square"></i></li>
                                    <li>92 <i class='fa fa-check-square'></i></li>
                                    <li>10 <i class='fa fa-check-square'></i></li>
                                    <li>2 <i class='fa fa-check-square'></i><li>
                                </ul>
                            </div> 
                            <div class="col">
                                <ul>
                                    <li><?= $jammais = round(12*100/(12+92+10+2),2)."%"?></li>
                                    <li><?= $rarement = round(92*100/(12+92+10+2),2)."%"?></li>
                                    <li><?= $souvent = round(10*100/(12+92+10+2),2)."%"?></li>
                                    <li><?= $tresSouvent = round(2*100/(12+92+10+2),2)."%"?></li>
                                </ul>
                            </div>          
                        </div>
                        <div class="row mt-3 justify-content-center">
                            <div class="col ml-5">
                                <div id="chart-1"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Q2 -->
                    <div class="sta-card col-5 p-3 mb-3 mt-3 bg-light text-dark">
                        <div class="row">
                            <div class="col">
                                <p >1. Avez-vous à vivre des situations de tension avec les publics liés à des mécontentements , à gérer des altercations verbales, physiques ?</P>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-4">
                                <label class="form-check-label" for="inlineRadioNever"><i class='far fa-laugh-wink' id="inlineRadioNever" style='font-size:25px;color:green'></i>jamais</label>
                                <label class="form-check-label" for="inlineRadioRarely"><i class="far fa-smile-beam" id="inlineRadioRarely"  style="font-size:25px; color:rgb(233, 212, 24)"></i>rarement</label>
                                <label class="form-check-label" for="inlineRadioOften"><i class="far fa-frown" id="inlineRadioOften" style="font-size:25px; color:orange"></i>souvent</label>
                                <label class="form-check-label" for="inlineRadioVeryOften"><i class="far fa-angry" id="inlineRadioVeryOften" style="font-size:25px; color:red"></i>très souvent</label>
                            </div>
                            <div class="col-4">
                                <ul>
                                    <li>12 <i class="fa fa-check-square"></i></li>
                                    <li>92 <i class='fa fa-check-square'></i></li>
                                    <li>10 <i class='fa fa-check-square'></i></li>
                                    <li>2 <i class='fa fa-check-square'></i><li>
                                </ul>
                            </div> 
                            <div class="col">
                                <ul>
                                    <li><?= $jammais = round(12*100/(12+92+10+2),2)."%"?></li>
                                    <li><?= $rarement = round(92*100/(12+92+10+2),2)."%"?></li>
                                    <li><?= $souvent = round(10*100/(12+92+10+2),2)."%"?></li>
                                    <li><?= $tresSouvent = round(2*100/(12+92+10+2),2)."%"?></li>
                                </ul>
                            </div>          
                        </div>
                        <div class="row mt-3 justify-content-center">
                            <div class="col ml-5">
                                <div id="chart-2"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Q3 -->
                    <div class="sta-card col-5 p-3 mb-3 mt-3 bg-light text-dark">
                        <div class="row">
                            <div class="col">
                                <p >1. Avez-vous à vivre des situations de tension avec les publics liés à des mécontentements , à gérer des altercations verbales, physiques ?</P>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-4">
                                <label class="form-check-label" for="inlineRadioNever"><i class='far fa-laugh-wink' id="inlineRadioNever" style='font-size:25px;color:green'></i>jamais</label>
                                <label class="form-check-label" for="inlineRadioRarely"><i class="far fa-smile-beam" id="inlineRadioRarely"  style="font-size:25px; color:rgb(233, 212, 24)"></i>rarement</label>
                                <label class="form-check-label" for="inlineRadioOften"><i class="far fa-frown" id="inlineRadioOften" style="font-size:25px; color:orange"></i>souvent</label>
                                <label class="form-check-label" for="inlineRadioVeryOften"><i class="far fa-angry" id="inlineRadioVeryOften" style="font-size:25px; color:red"></i>très souvent</label>
                            </div>
                            <div class="col-4">
                                <ul>
                                    <li>12 <i class="fa fa-check-square"></i></li>
                                    <li>92 <i class='fa fa-check-square'></i></li>
                                    <li>10 <i class='fa fa-check-square'></i></li>
                                    <li>2 <i class='fa fa-check-square'></i><li>
                                </ul>
                            </div> 
                            <div class="col">
                                <ul>
                                    <li><?= $jammais = round(12*100/(12+92+10+2),2)."%"?></li>
                                    <li><?= $rarement = round(92*100/(12+92+10+2),2)."%"?></li>
                                    <li><?= $souvent = round(10*100/(12+92+10+2),2)."%"?></li>
                                    <li><?= $tresSouvent = round(2*100/(12+92+10+2),2)."%"?></li>
                                </ul>
                            </div>          
                        </div>
                        <div class="row mt-3 justify-content-center">
                            <div class="col ml-5">
                                <div id="chart-3"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Q4 -->
                    <div class="sta-card col-5 p-3 mb-3 mt-3 bg-light text-dark">
                        <div class="row">
                            <div class="col">
                                <p >1. Avez-vous à vivre des situations de tension avec les publics liés à des mécontentements , à gérer des altercations verbales, physiques ?</P>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-4">
                                <label class="form-check-label" for="inlineRadioNever"><i class='far fa-laugh-wink' id="inlineRadioNever" style='font-size:25px;color:green'></i>jamais</label>
                                <label class="form-check-label" for="inlineRadioRarely"><i class="far fa-smile-beam" id="inlineRadioRarely"  style="font-size:25px; color:rgb(233, 212, 24)"></i>rarement</label>
                                <label class="form-check-label" for="inlineRadioOften"><i class="far fa-frown" id="inlineRadioOften" style="font-size:25px; color:orange"></i>souvent</label>
                                <label class="form-check-label" for="inlineRadioVeryOften"><i class="far fa-angry" id="inlineRadioVeryOften" style="font-size:25px; color:red"></i>très souvent</label>
                            </div>
                            <div class="col-4">
                                <ul>
                                    <li>12 <i class="fa fa-check-square"></i></li>
                                    <li>92 <i class='fa fa-check-square'></i></li>
                                    <li>10 <i class='fa fa-check-square'></i></li>
                                    <li>2 <i class='fa fa-check-square'></i><li>
                                </ul>
                            </div> 
                            <div class="col">
                                <ul>
                                    <li><?= $jammais = round(12*100/(12+92+10+2),2)."%"?></li>
                                    <li><?= $rarement = round(92*100/(12+92+10+2),2)."%"?></li>
                                    <li><?= $souvent = round(10*100/(12+92+10+2),2)."%"?></li>
                                    <li><?= $tresSouvent = round(2*100/(12+92+10+2),2)."%"?></li>
                                </ul>
                            </div>          
                        </div>
                        <div class="row mt-3 justify-content-center">
                            <div class="col ml-5">
                                <div id="chart-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="p-3 mb-2 themes" data-toggle="collapse"  data-target="#div_2" aria-expanded="true" aria-controls="collapseOne">
        <h1>Rapports sociaux au travail dégradés</h1>
        <p>Il est ici question des relations interpersonnelles entre collègues, des relations entretenues avec l'encadrement, donc des attitudes et comportements qui se manifestent.	</p>			
    </div>
    <div id="div_2" class="collapse" aria-labelledby="headingOne" data-parent="#survey">
        <!-- rubric 2 container -->
        <div class="accordion">
            <div class="p-3 mb-2 rubrics" data-toggle="collapse"  data-target="#div_2_1" aria-expanded="true" aria-controls="div_2_1">
                <h2>II. Qualité des relations entre salariés et soutien de la hiérarchie</h2>	 
            </div>
            <div id="div_2_1" class="collapse hide" aria-labelledby="headingOne" data-parent="#div_2">
                <!-- Q6 -->
                <div class="p-3 mb-2 bg-light text-dark">	
                    <p>6.  Avez-vous le sentiment de faire partie d'un collectif soudé, dans lequel règne un climat de confiance, de respect mutuel, où les relations sont propices aux échanges et à la solidarité ? </p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions6" id="inlineRadioNever" value="never">
                        <label class="form-check-label" for="inlineRadioNever"><i class='far fa-laugh-wink' style='font-size:25px;color:green'></i>jamais</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions6" id="inlineRadioRarely" value="rarely">
                        <label class="form-check-label" for="inlineRadioRarely"><i class="far fa-smile-beam" style="font-size:25px; color:rgb(233, 212, 24)"></i>rarement</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions6" id="inlineRadioOften" value="often">
                        <label class="form-check-label" for="inlineRadioOften"><i class="far fa-frown" style="font-size:25px; color:orange"></i>souvent</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions6" id="inlineRadioVeryOften" value="veryOften">
                        <label class="form-check-label" for="inlineRadioVeryOften"><i class="far fa-angry" style="font-size:25px; color:red"></i>très souvent</label>
                    </div>
                        <div class="form-group">
                        <label for="FormControlTextarea1">Commentaire:</label>
                        <textarea class="form-control" id="FormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <!-- Q7 -->
                <div class="p-3 mb-2 bg-light text-dark">	
                    <p>7. Avez-vous observé chez vos collègues, des comportements de type repli sur soi, plaintes, irritabilité, démotivation, propos cyniques... ?</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions7" id="inlineRadioNever" value="never">
                        <label class="form-check-label" for="inlineRadioNever"><i class='far fa-laugh-wink' style='font-size:25px;color:green'></i>jamais</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions7" id="inlineRadioRarely" value="rarely">
                        <label class="form-check-label" for="inlineRadioRarely"><i class="far fa-smile-beam" style="font-size:25px; color:rgb(233, 212, 24)"></i>rarement</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions7" id="inlineRadioOften" value="often">
                        <label class="form-check-label" for="inlineRadioOften"><i class="far fa-frown" style="font-size:25px; color:orange"></i>souvent</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions7" id="inlineRadioVeryOften" value="veryOften">
                        <label class="form-check-label" for="inlineRadioVeryOften"><i class="far fa-angry" style="font-size:25px; color:red"></i>très souvent</label>
                    </div>
                    <div class="form-group">
                        <label for="FormControlTextarea1">Commentaire:</label>
                        <textarea class="form-control" id="FormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <!-- Q8 -->
                <div class="p-3 mb-2 bg-light text-dark">	
                    <p>8. Vous est-il arrivé, en raison de problématiques de travail, de devoir prendre des médicaments pour pouvoir vous rendre au travail et  tenir le coup ?</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions8" id="inlineRadioNever" value="never">
                        <label class="form-check-label" for="inlineRadioNever"><i class='far fa-laugh-wink' style='font-size:25px;color:green'></i>jamais</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions8" id="inlineRadioRarely" value="rarely">
                        <label class="form-check-label" for="inlineRadioRarely"><i class="far fa-smile-beam" style="font-size:25px; color:rgb(233, 212, 24)"></i>rarement</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions8" id="inlineRadioOften" value="often">
                        <label class="form-check-label" for="inlineRadioOften"><i class="far fa-frown" style="font-size:25px; color:orange"></i>souvent</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions8" id="inlineRadioVeryOften" value="veryOften">
                        <label class="form-check-label" for="inlineRadioVeryOften"><i class="far fa-angry" style="font-size:25px; color:red"></i>très souvent</label>
                    </div>
                    <div class="form-group">
                        <label for="FormControlTextarea1">Commentaire:</label>
                        <textarea class="form-control" id="FormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <!-- Q9 -->
                <div class="p-3 mb-2 bg-light text-dark">	
                    <p>9. Vous sentez-vous à l'aise pour exposer une difficulté à votre hiérarchique ?</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions9" id="inlineRadioNever" value="never">
                        <label class="form-check-label" for="inlineRadioNever"><i class='far fa-laugh-wink' style='font-size:25px;color:green'></i>jamais</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions9" id="inlineRadioRarely" value="rarely">
                        <label class="form-check-label" for="inlineRadioRarely"><i class="far fa-smile-beam" style="font-size:25px; color:rgb(233, 212, 24)"></i>rarement</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions9" id="inlineRadioOften" value="often">
                        <label class="form-check-label" for="inlineRadioOften"><i class="far fa-frown" style="font-size:25px; color:orange"></i>souvent</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions9" id="inlineRadioVeryOften" value="veryOften">
                        <label class="form-check-label" for="inlineRadioVeryOften"><i class="far fa-angry" style="font-size:25px; color:red"></i>très souvent</label>
                    </div>
                    <div class="form-group">
                        <label for="FormControlTextarea1">Commentaire:</label>
                        <textarea class="form-control" id="FormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <!-- Q10 -->
                <div class="p-3 mb-2 bg-light text-dark">	
                <p>10. Avez-vous le sentiment d'obtenir de votre supérieur hiérarchique l'écoute, les ressources et les réponses dont vous avez besoin (disponibilité, appui, moyens techniques, logistiques, humains...) ?</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions10" id="inlineRadioNever" value="never">
                        <label class="form-check-label" for="inlineRadioNever"><i class='far fa-laugh-wink' style='font-size:25px;color:green'></i>jamais</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions10" id="inlineRadioRarely" value="rarely">
                        <label class="form-check-label" for="inlineRadioRarely"><i class="far fa-smile-beam" style="font-size:25px; color:rgb(233, 212, 24)"></i>rarement</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions10" id="inlineRadioOften" value="often">
                        <label class="form-check-label" for="inlineRadioOften"><i class="far fa-frown" style="font-size:25px; color:orange"></i>souvent</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions10" id="inlineRadioVeryOften" value="veryOften">
                        <label class="form-check-label" for="inlineRadioVeryOften"><i class="far fa-angry" style="font-size:25px; color:red"></i>très souvent</label>
                    </div>
                    <div class="form-group">
                        <label for="FormControlTextarea1">Commentaire:</label>
                        <textarea class="form-control" id="FormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <!-- Q11 -->
                <div class="p-3 mb-2 bg-light text-dark">	
                <p>11. Vous arrive-t-il d'être affecté par des messages reçus par courriel, de la part de collègues ou de la hiérarchie?</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions11" id="inlineRadioNever" value="never">
                        <label class="form-check-label" for="inlineRadioNever"><i class='far fa-laugh-wink' style='font-size:25px;color:green'></i>jamais</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions11" id="inlineRadioRarely" value="rarely">
                        <label class="form-check-label" for="inlineRadioRarely"><i class="far fa-smile-beam" style="font-size:25px; color:rgb(233, 212, 24)"></i>rarement</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions11" id="inlineRadioOften" value="often">
                        <label class="form-check-label" for="inlineRadioOften"><i class="far fa-frown" style="font-size:25px; color:orange"></i>souvent</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions11" id="inlineRadioVeryOften" value="veryOften">
                        <label class="form-check-label" for="inlineRadioVeryOften"><i class="far fa-angry" style="font-size:25px; color:red"></i>très souvent</label>
                    </div>
                    <div class="form-group">
                        <label for="FormControlTextarea1">Commentaire:</label>
                        <textarea class="form-control" id="FormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <!-- Q12 -->
                <div class="p-3 mb-2 bg-light text-dark">	
                <p>12. Vous sentez-vous autorisé à exprimer votre point de vue, en toute situation ? </p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions12" id="inlineRadioNever" value="never">
                        <label class="form-check-label" for="inlineRadioNever"><i class='far fa-laugh-wink' style='font-size:25px;color:green'></i>jamais</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions12" id="inlineRadioRarely" value="rarely">
                        <label class="form-check-label" for="inlineRadioRarely"><i class="far fa-smile-beam" style="font-size:25px; color:rgb(233, 212, 24)"></i>rarement</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions12" id="inlineRadioOften" value="often">
                        <label class="form-check-label" for="inlineRadioOften"><i class="far fa-frown" style="font-size:25px; color:orange"></i>souvent</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions12" id="inlineRadioVeryOften" value="veryOften">
                        <label class="form-check-label" for="inlineRadioVeryOften"><i class="far fa-angry" style="font-size:25px; color:red"></i>très souvent</label>
                    </div>
                    <div class="form-group">
                        <label for="FormControlTextarea1">Commentaire:</label>
                        <textarea class="form-control" id="FormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <!-- Q13 -->
                <div class="p-3 mb-2 bg-light text-dark">	
                <p>13. Avez-vous connaissance de situations de frictions entre services, salariés ou encore de cas de conflit exacerbé (actes hostiles, propos blessants, attitudes méprisantes,  mises à l'écart, comportements individualistes…) ?</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions13" id="inlineRadioNever" value="never">
                        <label class="form-check-label" for="inlineRadioNever"><i class='far fa-laugh-wink' style='font-size:25px;color:green'></i>jamais</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions13" id="inlineRadioRarely" value="rarely">
                        <label class="form-check-label" for="inlineRadioRarely"><i class="far fa-smile-beam" style="font-size:25px; color:rgb(233, 212, 24)"></i>rarement</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions13" id="inlineRadioOften" value="often">
                        <label class="form-check-label" for="inlineRadioOften"><i class="far fa-frown" style="font-size:25px; color:orange"></i>souvent</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions13" id="inlineRadioVeryOften" value="veryOften">
                        <label class="form-check-label" for="inlineRadioVeryOften"><i class="far fa-angry" style="font-size:25px; color:red"></i>très souvent</label>
                    </div>
                    <div class="form-group">
                        <label for="FormControlTextarea1">Commentaire:</label>
                        <textarea class="form-control" id="FormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <div class="row justify-content-start container-button">
                    <button class="btn-cancel" type="button" data-toggle="collapse" data-target="#div_2_2" onClick="scrollToDiv('#div_2')">PASSER A LA RUBRIQUE SUIVANTE</button>
                </div>
            </div>
        </div>
        <!-- rubric 3 container -->
        <div class="accordion">
            <div class="p-3 mb-2 rubrics" data-toggle="collapse"  data-target="#div_2_2" aria-expanded="true" aria-controls="div_2_2">
                <h2>III. Reconnaissance du travail et des compétences	</h2>	 
            </div>
            <div id="div_2_2" class="collapse hide" aria-labelledby="headingOne" data-parent="#div_2">
                <!-- Q14 -->
                <div class="p-3 mb-2 bg-light text-dark">	
                    <p>14. Les marques de reconnaissance de votre travail (rétribution, promotion, reclassement, éloges félicitations, encouragements…) vous semblent-elles suffisantes ?</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions14" id="inlineRadioNever" value="never">
                        <label class="form-check-label" for="inlineRadioNever"><i class='far fa-laugh-wink' style='font-size:25px;color:green'></i>jamais</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions14" id="inlineRadioRarely" value="rarely">
                        <label class="form-check-label" for="inlineRadioRarely"><i class="far fa-smile-beam" style="font-size:25px; color:rgb(233, 212, 24)"></i>rarement</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions14" id="inlineRadioOften" value="often">
                        <label class="form-check-label" for="inlineRadioOften"><i class="far fa-frown" style="font-size:25px; color:orange"></i>souvent</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions14" id="inlineRadioVeryOften" value="veryOften">
                        <label class="form-check-label" for="inlineRadioVeryOften"><i class="far fa-angry" style="font-size:25px; color:red"></i>très souvent</label>
                    </div>
                    <div class="form-group">
                        <label for="FormControlTextarea1">Commentaire:</label>
                        <textarea class="form-control" id="FormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <!-- Q15 -->
                <div class="p-3 mb-2 bg-light text-dark">	
                <p>15. Obtenez-vous les formations que vous demandez en lien avec les compérences que vous devez mobiliser ? </p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions15" id="inlineRadioNever" value="never">
                    <label class="form-check-label" for="inlineRadioNever"><i class='far fa-laugh-wink' style='font-size:25px;color:green'></i>jamais</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions15" id="inlineRadioRarely" value="rarely">
                        <label class="form-check-label" for="inlineRadioRarely"><i class="far fa-smile-beam" style="font-size:25px; color:rgb(233, 212, 24)"></i>rarement</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions15" id="inlineRadioOften" value="often">
                        <label class="form-check-label" for="inlineRadioOften"><i class="far fa-frown" style="font-size:25px; color:orange"></i>souvent</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions15" id="inlineRadioVeryOften" value="veryOften">
                        <label class="form-check-label" for="inlineRadioVeryOften"><i class="far fa-angry" style="font-size:25px; color:red"></i>très souvent</label>
                    </div>
                    <div class="form-group">
                        <label for="FormControlTextarea1">Commentaire:</label>
                        <textarea class="form-control" id="FormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <!-- Q16 -->
                <div class="p-3 mb-2 bg-light text-dark">	
                    <p>16. Avez-vous observé des situations d'inéquité de traitement entre salariés (recrutement, promotion, évolution, moyens…) ?</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions16" id="inlineRadioNever" value="never">
                        <label class="form-check-label" for="inlineRadioNever"><i class='far fa-laugh-wink' style='font-size:25px;color:green'></i>jamais</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions16" id="inlineRadioRarely" value="rarely">
                        <label class="form-check-label" for="inlineRadioRarely"><i class="far fa-smile-beam" style="font-size:25px; color:rgb(233, 212, 24)"></i>rarement</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions16" id="inlineRadioOften" value="often">
                        <label class="form-check-label" for="inlineRadioOften"><i class="far fa-frown" style="font-size:25px; color:orange"></i>souvent</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions16" id="inlineRadioVeryOften" value="veryOften">
                        <label class="form-check-label" for="inlineRadioVeryOften"><i class="far fa-angry" style="font-size:25px; color:red"></i>très souvent</label>
                    </div>
                    <div class="form-group">
                        <label for="FormControlTextarea1">Commentaire:</label>
                        <textarea class="form-control" id="FormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <!-- Q17 -->
                <div class="p-3 mb-2 bg-light text-dark">	
                    <p>17. Les outils RH d'accompagnement des salariés facilitent-ils la mobilité professionnelle ou le reclassement, dans les situations de restrictions médicales  ?</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions17" id="inlineRadioNever" value="never">
                        <label class="form-check-label" for="inlineRadioNever"><i class='far fa-laugh-wink' style='font-size:25px;color:green'></i>jamais</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions17" id="inlineRadioRarely" value="rarely">
                        <label class="form-check-label" for="inlineRadioRarely"><i class="far fa-smile-beam" style="font-size:25px; color:rgb(233, 212, 24)"></i>rarement</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions17" id="inlineRadioOften" value="often">
                        <label class="form-check-label" for="inlineRadioOften"><i class="far fa-frown" style="font-size:25px; color:orange"></i>souvent</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions17" id="inlineRadioVeryOften" value="veryOften">
                        <label class="form-check-label" for="inlineRadioVeryOften"><i class="far fa-angry" style="font-size:25px; color:red"></i>très souvent</label>
                    </div>
                    <div class="form-group">
                        <label for="FormControlTextarea1">Commentaire:</label>
                        <textarea class="form-control" id="FormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <!-- Q18 -->
                <div class="p-3 mb-2 bg-light text-dark">	
                    <p>18.  Votre poste actuel et vos missions correspondent-ils à ce qui figure sur votre contrat de travail ?</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions18" id="inlineRadioNever" value="never">
                        <label class="form-check-label" for="inlineRadioNever"><i class='far fa-laugh-wink' style='font-size:25px;color:green'></i>jamais</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions18" id="inlineRadioRarely" value="rarely">
                        <label class="form-check-label" for="inlineRadioRarely"><i class="far fa-smile-beam" style="font-size:25px; color:rgb(233, 212, 24)"></i>rarement</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions18" id="inlineRadioOften" value="often">
                        <label class="form-check-label" for="inlineRadioOften"><i class="far fa-frown" style="font-size:25px; color:orange"></i>souvent</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions18" id="inlineRadioVeryOften" value="veryOften">
                        <label class="form-check-label" for="inlineRadioVeryOften"><i class="far fa-angry" style="font-size:25px; color:red"></i>très souvent</label>
                    </div>
                    <div class="form-group">
                        <label for="FormControlTextarea1">Commentaire:</label>
                        <textarea class="form-control" id="FormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <div class="row justify-content-start container-button">
                    <button class="btn-start" type="button" data-toggle="collapse" data-target="#div_2" onClick="scrollToDiv('#survey')">VALIDER THEME 2</button>
                </div>
            </div>
        </div>
    </div>
</div>

