<!-- SURVEY 
    updated 11/07/2019-->
<link rel="stylesheet" href="css/survey.css" />
<div class="background">
    <form class="form-group">
        <div class="container white-box">
            <div class="row">
                <div id="qtsAddTheme">
                    <p><a onclick='addSurvey()' href="#"><i class='fas'>&#xf055;</i> Ajout d'un Questionnaire </a></p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <h2 class="sur-h2">Liste des Questionnaires</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <table class="sur-table">
                        <tr>
                            <th>Titre questionnaire</th>
                            <th>Activer</th>
                            <th>En ligne</th>
                            <th>Modifier</th>
                            <th>Suprimer</th>
                        </tr>
                        <tr>
                            <td >RPS Auto postionnement 2019</td>
                            <td>
                                <div class="custom-control custom-switch" onclick='toggleNet(0)'>
                                    <input type="checkbox" class="custom-control-input" id="checkbox0" unchecked>
                                    <label class="custom-control-label" style="color:#DE1F85"for="checkbox0"></label>
                                </div>
                            </td>
                            <td><i class="fas fa-network-wired sur-toggle-color" id="network0" style='font-size:30px;color:gray'></i></td>
                            <td onclick="editSurvey()"><i class='fas fa-pencil-alt' style='font-size:25px;color:#DE1F85'></i></td>
                            <td data-toggle="modal" data-target="#sur-delete-modal"><i class='fas fa-trash-alt' style='font-size:25px;color:#DE1F85'></i></td>
                        </tr>
                        <tr>
                            <td>RPS Auto postionnement 2020</td>
                            <td>
                                <div class="custom-control custom-switch" onclick='toggleNet(1)'>
                                    <input type="checkbox" class="custom-control-input" id="checkbox1"  unchecked>
                                    <label class="custom-control-label" style="color:#DE1F85"for="checkbox1"></label>
                                </div>
                            </td>
                            <td><i class="fas fa-network-wired sur-toggle-color"  id="network1" style='font-size:30px;color:gray'></i></td>
                            <td onclick="editSurvey()"><i class='fas fa-pencil-alt' style='font-size:25px;color:#DE1F85'></i></td>
                            <td data-toggle="modal" data-target="#sur-delete-modal"><i class='fas fa-trash-alt' style='font-size:25px;color:#DE1F85'></i></td>
                        </tr>
                </table>
            </div>
        </div>
    </form>
    <form class="form-group" >
        <div class="container white-box" id="sur-add-survey" style="display:none">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h2 class="sur-h2">Ajouter un questionnaire</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <input class="sur-champ form-control" type="text" value="RPS Auto postionnement AFPA 2019" placeholder="Titre du questionnaire"> 
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="import"  unchecked>
                    <label class="custom-control-label" for="import" style="left:20px;color: #1F85DE;font-weight: bold" onclick="toggleImport()">Importer les données d'un questionnaire existant</label>
                </div>
            </div>
            <div class="row justify-content-left">
                <div class="col-md-12">
                    <select class="form-control sur-choice-import">
                        <option name="default">--choix de la source d'import--</option>
                        <option name="survey1"> RPS auto-positionnement AFPA 2018</option>
                        <option name="survey2"> Mon super questionnaire</option>
                    </select>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 sur-div-btn">
                    <div>
                        <input type="button" class="btn-green sur-btn" value="Annuler" onclick="cancelEditSurvey()">
                        <input type="button" class="btn-pink sur-btn" value="Ajouter">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form class="form-group" >
        <div class="container white-box" id="sur-edit-survey" style="display:none">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h2 class="sur-h2">Modifier le titre du questionnaire</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <input class="sur-champ form-control" type="text" value="RPS Auto postionnement AFPA 2019" placeholder="Titre du questionnaire"> 
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 sur-div-btn">
                    <div>
                        <input type="button" class="btn-green sur-btn" value="Annuler" onclick="cancelEditSurvey()">
                        <input type="button" class="btn-pink sur-btn" value="Modifier">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="sur-delete-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="sur-h2">Suppression Questionaire</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                <p>Vous êtes sur le point de suprimer le questionnaire : <b>RPS Auto postionnement 2019</b> cette opération est irréversible toute les données du questionaire seront perdues.</p> 
                <p>Voulez vous confirmer ce choix?</p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn-green sur-btn" value="Annuler">
                    <input type="button" class="btn-pink sur-btn" value="Confirmer">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/survey.js"></script>