/* USER */

.usr-field-add,
.usr-field-edit {
    width: 100%;
    margin: 15px 0px;
}

#imgLienUser {
    font-size: 45px;
    color: var(--first-color);
}

#imgLienCode {
    font-size: 45px;
    color: var(--second-color);
}

#blockLienUser a {
    text-decoration: none;
    color: var(--first-color);
}

#blockLienCode a {
    text-decoration: none;
    color: var(--second-color);
}

#buttonAdmin {
    width: 150px;
    height: 150px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 50px;
}


/* #div_button{ */


/* position: relative; */


/* } */

.iconBonhom {
    width: 50px;
    position: relative;
}

.rotat:hover {
    -webkit-animation-name: nav-btn;
    animation-name: nav-btn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@-webkit-keyframes nav-btn {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    40% {
        -webkit-transform: rotate(280deg);
        transform: rotate(280deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes nav-btn {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    40% {
        -webkit-transform: rotate(280deg);
        transform: rotate(280deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.usr-h2 {
    color: var(--first-color);
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    margin: 10px;
}

.usr-admin-switch {
    display: flex;
    margin: 20px 0px;
}

.usr-btn {
    width: 100px;
    height: 50px;
    margin: 5px;
}

.usr-btn:hover {
    width: 100px;
    height: 50px;
}

.usr-div-btn {
    display: flex;
    justify-content: flex-end;
}

.usr-admin-icon {
    position: relative;
}

#usr-table {
    width: 100%;
}

#usr-table th {
    color: var(--gray-color);
    font-weight: bold;
    text-align: center;
}

#usr-table td {
    text-align: center;
}


/* 03/05/2019 */

#add-admin-btn {
    border: 2px solid var(--first-color);
    border-radius: 4px;
    width: 25%;
    color: var(--first-color);
    text-align: center;
    background: var(--white-color);
    box-shadow: 1px 1px 2px 0.5px var(--black-color);
}

#add-admin-btn p {
    margin: auto;
    padding: 15px 5px;
    font-weight: bold;
}

#checkbox0 {
    display: none;
}