/*CONNEXION*/

#adm-email, #adm-password
{
  margin: 25px 0px; 
  width: 300px;
}

#adm-forgot-password
{
  color: var(--first-color);
  text-align: center;
}


.adm-para-pink
{
  font-size: 0.8em;
  color: var(--second-color);
  font-weight: 600;
  text-align: center;
  background-color: rgba(222, 31, 133, 0.199);
  width: 300px;
}

.adm-h2 {
  color: var(--second-color);
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  margin: 10px;
}

#adm-info-pop{
  position: absolute;
  padding:10px;
  top:25px;
  left:25px;
  width: 30%;
  justify-content: center;
  background-color: white;
  font-weight: 600;
  color: var(--first-color);
  border-radius: 12px;
  border: 2px solid var(--first-color);
  box-shadow: 5px 5px 5px  gray;
}

.modal-info{
  color:red;
}

