/* CLIENT */

.cli-tooltip {
    margin: 25px 0px;
    width: 100%;
    text-align: center;
}

.cli-activity {
    margin: 25px auto;
    color: green;
}

.cli-btn {
    margin: 25px 0px;
    width: 200px;
    height: 50px;
}

.form-check i {
    margin: 0px 5px;
}

.form-check span {
    margin: 7px 0;
}

.cli-thumbs-up{
    color: var(--third-color);
    font-size: 3em;
    text-align: center;
}

.cli-message-val, .cli-message-edit{
    color: var(--first-color);
    text-align: center;
    text-transform: uppercase;
}

.cli-message-val p, .cli-message-edit p{
    text-align: center;
    color: var(--second-color);
    text-transform: lowercase;
}




/* Media Query-CLIENT */

@media only screen and (max-width: 721px) {

    }