/* FOOTER - */

footer {
    position: unset;
    width: 100%;
    height: 100px;
    bottom: 0;
    right: 0;
}

.ftr-content {
    background-color: var(--third-color);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100px;
}

.ftr-liens {
    display: flex;
}

.ftr-lien {
    margin: 0px 15px;
    color: var(--white-color);
    font-weight: bold;
}


/* Media Query-FOOTER */

@media only screen and (max-width: 721px) {
    .ftr-content {
        height: 200px;
        overflow: hidden;
    }
}