/* GENERAL */

html {
    height: 100%;
}

.row
{
    margin:0;
}

body {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.background {
    padding: 25px 0px;
    background-color: var(--fourth-color);
    flex-grow: 1;
}

section {
    flex-grow: 1;
}

.white-box {
    background-color: var(--white-color);
    padding: 20px;
}

.select-survey {
    height: 60px;
    font-size: 1.8em;
    color: var(--first-color);
    font-weight: bold;
}

.select-survey:hover {
    color: var(--first-color);
}

.select-survey:focus {
    color: var(--first-color);
}

.logo-afpa {
    padding: 50px 0;
}

.logo-afpa img {
    width: 250px;
    height: 125px;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1em;
}

.page-title,
#page-title {
    font-size: 3em;
    color: var(--first-color);
    padding: 50px;
    text-align: center;
}

.themes {
    color: var(--white-color);
    background-color: var(--first-color);
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    transition: 1s;
}

.themes:hover {
    background-color: var(--hover-first-color);
    border: 3px solid var(--border-first-color);
    border-radius: 5px;
    transition: 1s;
}

.rubrics {
    color: var(--white-color);
    background-color: var(--third-color);
    border: 3px solid var(--third-color);
    border-radius: 5px;
    transition: 1s;
}

.rubrics:hover {
    color: var(--third-color);
    background-color: var(--hover-third-color);
    border: 3px solid var(--border-third-color);
    border-radius: 5px;
    transition: 1s;
}


/* BTN */

.btn-blue:hover {
    color: var(--first-color);
    background-color: var(--white-color);
    font-weight: bold;
    border-color: var(--first-color);
    border-radius: 5px;
    transition: 1s;
}

.btn-blue {
    color: var(--white-color);
    background-color: var(--first-color);
    font-weight: bold;
    border-color: var(--first-color);
    border-radius: 4px;
    transition: 1s;
}

.btn-green:hover {
    color: var(--third-color);
    background-color: var(--white-color);
    font-weight: bold;
    border-color: var(--third-color);
    border-radius: 4px;
    transition: 1s;
}

.btn-green {
    color: var(--white-color);
    background-color: var(--third-color);
    font-weight: bold;
    border-color: var(--third-color);
    border-radius: 4px;
    transition: 1s;
}

.btn-pink:hover {
    color: var(--second-color);
    background-color: var(--white-color);
    font-weight: bold;
    border-color: var(--second-color);
    border-radius: 4px;
    border-width: 2px;
    transition: 1s;
}

.btn-pink {
    color: var(--white-color);
    background-color: var(--second-color);
    font-weight: bold;
    border-color: var(--second-color);
    border-radius: 4px;
    border-width: 2px;
    transition: 1s;
}

#btn-valid-activity {
    margin-bottom: 5px;
}

.btn-big {
    margin: 50px 0px;
    height: 70px;
    width: 300px;
}

.container-button {
    margin: 15px 0px 60px 0px;
}

.classHidden {
    display: none;
}

.error-info {
    justify-content: flex-end;
    color: red;
}


/* VARIABLE CSS-GENERAL */

:root {
    --first-color: #1F85DE;
    --second-color: #DE1F85;
    --third-color: #80ac29;
    --hover-first-color: rgb(32, 111, 180);
    --hover-second-color: #DE1F85;
    --hover-third-color: white;
    --border-first-color: rgba(103, 207, 255, 0.562);
    --border-second-color: #DE1F85;
    --border-third-color: #80ac29;
    --fourth-color: #E1DEDD;
    --white-color: white;
    --gray-color: gray;
    --black-color: black;
    --red-color: red;
    --orange-color: orange;
    --Yellow-color: rgb(233, 212, 24);
    --greenn-color: green;
    --transparent: rgba(0,0,0,1);
}


/* Media Query-GENERAL */

@media only screen and (max-width: 721px) {
    .page-title {
        font-size: 2em;
    }


}