/* HOME */

.hom-card-bloc {
    margin: unset;
}

.hom-cards {
    margin: 15px;
}

.hom-cards a {
    text-decoration: none;
}

#hom-card1 {
    background-color: var(--second-color);
}

#hom-card2 {
    background-color: var(--third-color);
}

#hom-card3 {
    background-color: var(--first-color);
}

.hom-card-round {
    width: 100px;
    height: 100px;
    background-color: var(--white-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.hom-card-text {
    font-style: unset;
    font-size: 1.3em;
    color: var(--white-color);
    text-align: center;
    padding: 5px;
}

.hom-card-text h2 {
    font-size: 1.3em;
}

.hom-icon-admin {
    color: var(--second-color);
    font-size: 45px;
    width: 50px;
    height: 50px;
    position: relative;
}