/*CONNEXION*/

#ind-password {
    margin: 25px 0px;
}

.ind-para-blue {
    color: var(--first-color);
    font-size: 1em;
    text-align: center;
}

.ind-title-blue {
    color: var(--first-color);
    font-size: 1.3em;
    text-align: center;
}

.ind-para-pink {
    font-size: 0.8em;
    padding: 5px;
    color: var(--second-color);
    font-weight: 600;
    text-align: center;
    background-color: rgba(222, 31, 133, 0.199);
}

.row {
    margin: 0;
}


/* Media Query-INDEX */

@media only screen and (max-width: 721px) {
    .ind-para-blue {
        font-size: 1em;
    }
    .ind-para-pink {
        flex: unset;
        max-width: unset;
        width: 100%;
    }
    .ind-title-blue h2{
        font-size: 1em;
    }
}