/* NAVIGATION */

.nav-full {
    min-width: 470px;
}

.nav-logo-postion {
    margin-top: 15px;
}

.nav-sub {
    height: 50px;
    border-width: 2px 2px 6px 2px;
    border-style: solid;
    border-color: var(--white-color) var(--white-color) var(--third-color) var(--white-color);
    border-radius: 5px;
}

.nav-icons {
    z-index: -1;
    color: var(--second-color);
    font-size: 45px;
    width: 50px;
    height: 50px;
    position: absolute;
}

.nav-png-admin {
    z-index: -1;
    color: var(--second-color);
    font-size: 45px;
    width: 50px;
    height: 50px;
    position: absolute;
}

.nav-circle {
    width: 100px;
    height: 100px;
    position: relative;
    border-bottom: 5px solid rgba(0s, 0, 0, 0);
}

.nav-btn:hover a img {
    -webkit-animation-name: nav-btn;
    animation-name: nav-btn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@-webkit-keyframes nav-btn {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    40% {
        -webkit-transform: rotate(280deg);
        transform: rotate(280deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes nav-btn {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    40% {
        -webkit-transform: rotate(280deg);
        transform: rotate(280deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.nav-title {
    text-align: center;
    font-weight: bold;
}

.nav-title p a {
    color: var(--second-color);
    text-decoration: none;
}

.nav-title p:hover {
    border-bottom: 1px solid var(--gray-color);
}

.nav-bloc {
    height: 120px;
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-admin-name-pink {
    color: var(--second-color);
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.nav-admin-name-blue {
    color: var(--first-color);
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.nav-admin-name-pink p i,
.nav-admin-name-blue p i {
    margin: 0 5px;
}

.nav-admin-name-pink p a .fa-power-off {
    color: inherit;
    color: white;
    background-color: var(--second-color);
    padding: 5px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px var(--gray-color);
}

.nav-admin-name-blue p a .fa-power-off {
    color: inherit;
    color: white;
    background-color: var(--first-color);
    padding: 5px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px var(--gray-color);
}

@media only screen and (max-width: 800px) {
    
    .nav-circle, 
    .nav-admin-name-pink,
    .nav-btn {
        display: none;
    }

    .nav-logo-postion{
        width: 100px;
    }

    .nav-admin-name-pink {
        display: contents;
    }

    .nav-sub{
        display: contents
    }

    

    



}