/* STATISTIQUE */

.sta-nbr-code {
    font-weight: bold;
    color: var(--third-color);
}

.sta-nbr-submit {
    font-weight: bold;
    color: var(--third-color);
    text-align: right;
}

.sta-row {
    margin: unset;
}

li{ 
    list-style: none;
    margin:5px;
    font-weight: 600;
}

.sta-card {
    width: 500px;
    min-width: 500px;
    max-height: 600px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 3px 3px 3px var(--gray-color);
    color:var(--gray-color);
}

.fa-check-square{
    color:var(--third-color)
}

