/* SURVEY */

.sur-table {
    width: 100%;
}

.sur-table th {
    color: var(--gray-color);
    font-weight: bold;
    text-align: center;
}

.sur-table td {
    text-align: center;
}

.sur-h2 {
    color: var(--first-color);
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    margin: 10px;
}

.sur-btn {
    width: 100px;
    height: 50px;
    margin: 5px;
}

.sur-champ {
    width: 100%;
    margin: 15px 0px;
}

.sur-div-btn {
    display: flex;
    justify-content: flex-end;
}

.sur-choice-import {
    display: none;
    margin: 15px 0;
}